@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200;400;800&display=swap');

.body {
    font-family: 'Exo', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    min-width: 320px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    background-image:  radial-gradient(rgb(0, 0, 0), transparent);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    padding: 1rem 0;
    margin: 0;
    color: #fff;
    counter-reset: star; /* for custom counter */
}

.header {
    text-align: right;
    margin: 0 1rem 1rem 1rem;
}

.header h1,
header p {
    margin: 0;
    padding: 0;
}

.header h1 {
    font-weight: 200;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.header p {
    font-weight: 200;
    font-size: 0.8em;
    color: #ACACED;
}

.details.star-details {
    font-family: 'Exo';
    margin: 0.5rem 1rem;
    transition: 1s;
    border-radius: 1rem;
    background-image: linear-gradient(rgba(16,16,24,0.1), transparent), linear-gradient(to bottom left, rgba(16,16,24,0.2), transparent);
    border-top: 0.25rem solid rgba(16,16,24,0.2);
    box-shadow: 1px 1px 3px rgba(255,255,255,0.08);
    overflow: hidden;
    position: relative;
    transition: 1s;
}

.details.star-details::before { /* very subtle star shape pseudo element */
    content: "";
    height: 4.5rem; width: 4.5rem;
    position: absolute;
    top: 0.25rem; right: -5rem;
    pointer-events: none;
    background-image: radial-gradient(rgba(255,255,255,0.1), transparent 80%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    overflow: visible;
    z-index: -1;
    transition: 0.3s ease;
}

.details.star-details[open]::before { /* slide in from right, star shape pseudo element */
    right: 0.25rem;
}

.summary.titles {
    list-style: none;
    padding: 1rem 1rem 1rem 2rem;
    font-size: 2rem;
    font-weight: 800;
    color: #f3f3f7;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    line-height: 1;
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(16,16,24,0.3);
}

.summary.titles:hover { /* subtle background light up effect on summary */
    background-image: radial-gradient(rgba(255,255,255,0.03), transparent 60%);
    background-color: rgba(16,16,24,0.2);
}

.summary.titles:hover,
summary.titles:hover::before,
summary.titles:hover::after {
    color: #EDAE49;
}

.summary.titles:hover,
summary.titles:focus {
    cursor: pointer;
    outline: none;
}

.summary.titles::-webkit-details-marker {
    display: none;
}

.summary.titles::after { /* creates numbers with counter-increment */
    counter-increment: star;
    content: "." counter(star);
    flex-grow: 1;
    text-align: right;
    color: #6C6C9D;
}

.summary.titles::before { /* + replacing standard triangle */
    content: "+";
    width: 2rem;
    color: #6C6C9D;
    margin-left: -1rem;
    transform: translate(-4px, -4px);
    transition: transform 0.3s;
}

.details.star-details[open] > summary.titles::before { /* rotating + to make an X */
    transform: rotate(45deg) translateX(-5px) translateY(4px);
}

.details.star-details[open] > summary.titles:hover::before,
details.star-details[open] > summary.titles:hover::after {
    color: #EDAE49;
}

.info {
    padding: 0.3rem 1rem 1.3rem;
    letter-spacing: 0.03rem; /* font needed a little space between characters */
    display: flex;
    flex-direction: column-reverse;
}

.info p {
    flex-grow: 1;
    color: #fff;
    font-weight: 200;
    letter-spacing: 0.03rem;
    padding: 0.3rem 0 0;
    margin: 0;
}

.info p strong {
    font-weight: 400;
}

.info-list {
    flex-grow: 0;
    list-style: none;
    padding: 0;
    margin: 0 0 0 0.5rem;
}

.info-list li {
    display: grid;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.2rem 0.5rem 0.2rem 0;
    text-transform: uppercase;
    grid-template-columns: 50% 50%;
}

.info-list li:nth-child(1) {
    position: relative;
}

.info-list li:nth-child(1)::after { /* subtle line between "distance" & "constellation" li's */
    content: "";
    position: absolute;
    width: 100%; height: 1px;
    left: 0; bottom: 0;
    background-image: linear-gradient(to left, transparent, rgba(255,255,255,0.08), transparent);
}

.info-list li::before {
    margin-right: 0;
    font-weight: 100;
    font-size: 0.7em;
    margin-right: 0.8em;
    color: #CCC9DC;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right; /* fallback */
    transition: none;
}

.info-list li:nth-child(1)::before {
    content: "Distance:";
}

.info-list li:nth-child(2)::before {
    content: "Constellation:";
}

.star-maps {
    display: block;
    max-width: 100%;
}

.svg-container {
    overflow: hidden;
}

    /* tablet styles */
    @media screen and (min-width: 639px) {

        summary.titles {
            padding: 1.5rem 1.5rem 1.5rem 3rem;
        }

        summary::before {
            margin-left: 0;
        }

        .info {
            flex-direction: row;
            justify-content: space-between;
            padding:  1rem 1.5rem 1.5rem;
        }

        .info p {
            flex-grow: auto;
            max-width: 60%;
            padding: 0 0.6rem 0 0;
        }

        .info-list {
            flex-grow: 1;
        }

        .info-list li {
            font-size: 1.2rem;
            font-weight: 400;
        }

        .info-list li::before {
            margin-right: 1em;
            font-weight: 100;
            font-size: 0.6em;
        }

    }

    /* laptop & desktop styles */
    @media screen and (min-width: 969px) {
      
        details.star-details {
            max-width: 720px;
            margin: 0.72rem auto;
        }

        header {
            max-width: 720px;
            margin: 0 auto 1rem;
            padding: 0;
        }

        summary.titles {
            padding: 1.5rem 1.5rem 1.5rem 2.5rem;
        }
    }

    /* larger screens */
    @media screen and (min-width: 1441px) {
        .info-list li {
            font-size: 1.3rem;
        }
    }